*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center
}

.container {
  width: 650px;
  height: 300px;
  perspective: 800px;
}

/* .container:hover  > .card{
  cursor: pointer;
  transform: rotateY(180deg);
} */

/* .container > .card{
  cursor: pointer;
  transform: rotateY(180deg);
} */

.container.is-flipped > .card {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.front {
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

