.App {
  text-align: center;
}

button {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px; 
}

.controls-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}


